<%- include('partials/header'); -%>
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/html" tabindex="-1">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="/javascript">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="site-content">
        <h2>CSS FREE COURSE</h2>
        <p>
            Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document
            written in HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS describes how elements
            should be rendered on screen, on paper, in speech, or on other media.<br>

            CSS is among the core languages of the open web and is standardized across Web browsers according to W3C
            specifications. Previously, development of various parts of CSS specification was done synchronously, which
            allowed versioning of the latest recommendations. You might have heard about CSS1, CSS2.1, CSS3. However,
            CSS4 has never become an official version.<br>

            From CSS3, the scope of the specification increased significantly and the progress on different CSS modules
            started to differ so much, that it became more effective to develop and release recommendations separately
            per module. Instead of versioning the CSS specification, W3C now periodically takes a snapshot of the latest
            stable state of the CSS specification
        </p>
    </div>

    <div class="videos">
        <div class="parent">
            <iframe class="video" src="https://www.youtube.com/embed/1PnVor36_40" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="parent">
            <iframe class="video" src="https://www.youtube.com/embed/yfoY53QXEnI" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>


        <div class="parent">
            <iframe class="video" src="https://www.youtube.com/embed/1Rs2ND1ryYc" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>












    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/html" tabindex="-1">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="/javascript">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <%- include('partials/footer'); -%>