<%- include('partials/header'); -%>

  <ul class="cources">
    <li class="cource">
      <a href="/html"><img src="/HTML5_logo.svg.png" alt="cource icon"></a>
      <h4>HTML</h4>
      <p>Free Cource On HTML</p>
    </li>
    <li class="cource">
      <a href="/css"><img src="/css.png" alt="cource icon"></a>
      <h4>CSS</h4>
      <p>Free Cource On CSS</p>
    </li>
    <li class="cource">
      <a href="/javascript"><img src="/javascript.png" alt="cource icon"></a>
      <h4>Java Script</h4>
      <p>Free Coure On Java Script</p>
    </li>
    <li class="cource">
      <a href="/react"><img src="/react-js.png" alt="cource icon"></a>
      <h4>React</h4>
      <p>Free Cource On React</p>
    </li>
    <li class="cource">
      <a href="/node"><img src="/Node.js_logo.svg.png" alt="cource icon"></a>
      <h4>Node Js</h4>
      <p>Free cource On Node Js</p>
    </li>
    <li class="cource">
      <a href="/mongo"><img src="/MONGO-DB-logo.png" alt="cource icon"></a>
      <h4>Mongo DB</h4>
      <p>Free Cource On Mongo DB </p>
    </li>
  </ul>

  <%- include('partials/footer'); -%>