<%- include('partials/header'); -%>

  <header>
    <div class="heading">
      <img src="/full-stack.png" alt="">
    </div>
    <div class="header">
      <h2>Become FullStack Devloper</h2>
      <h3>By Manish Devlikar</h3>
      <a href="/freecources" class="btn">View Cources</a>
    </div>
  </header>


  <%- include('partials/footer'); -%>