<%- include('partials/header'); -%>
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/css" tabindex="-1">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="/react">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="site-content">
        <h2>JAVA SCRIPT FREE COURSE</h2>
        <p>
            JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with
            first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser
            environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a
            prototype-based, multi-paradigm, single-threaded, dynamic language, supporting object-oriented, imperative,
            and declarative (e.g. functional programming) styles. Read more about JavaScript.<br>

            This section is dedicated to the JavaScript language itself, and not the parts that are specific to Web
            pages or other host environments. For information about API specifics to Web pages, please see Web APIs and
            DOM.<br>

            The standards for JavaScript are the ECMAScript Language Specification (ECMA-262) and the ECMAScript
            Internationalization API specification (ECMA-402). The JavaScript documentation throughout MDN is based on
            the latest draft versions of ECMA-262 and ECMA-402. And in cases where some proposals for new ECMAScript
            features have already been implemented in browsers, documentation and examples in MDN articles may use some
            of those new features.<br>

            Do not confuse JavaScript with the Java programming language. Both "Java" and "JavaScript" are trademarks or
            registered trademarks of Oracle in the U.S. and other countries. However, the two programming languages have
            very different syntax, semantics, and use.
        </p>
    </div>

    <div class="videos">
        <div class="parent">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/W6NZfCO5SIk"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>


        <div class="parent">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/PkZNo7MFNFg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="parent">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/jS4aFq5-91M"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>













    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/css" tabindex="-1">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="/react">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <%- include('partials/footer'); -%>