<%- include('partials/header'); -%>

        <div class="pagination">
                <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                                <li class="page-item">
                                        <a class="page-link" href="/node" tabindex="-1">Previous</a>
                                </li>

                                <li class="page-item disabled">
                                        <a class="page-link " href="#">Next</a>
                                </li>
                        </ul>
                </nav>
        </div>

        <div class="site-content">
                <h2>MONGOdb FREE COURSE</h2>
                <p>
                        MongoDB is a document database designed for ease of application development and scaling.<br> Run
                        MongoDB
                        with.
                        MongoDB Atlas fully managed in the cloud, the source available and free-to-use MongoDB
                        Community, or. the
                        MongoDB Enterprise Advanced subscription.
                </p>
        </div>



        <div class="videos">
                <div class="parent">
                        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/-56x56UppqQ"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>


                <div class="parent">
                        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/SnoAwLP1a-0"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/muhJTRQ7WMk" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/uiKwHx2K1Fo" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/mnJxyc0DGM8" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/nukNITdis9g" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/teDkX-_Zkbw" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/DmrjFKTLOYo" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/8RiDRdHPcxA" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/mevc_dl1i1I" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/LZq0G8WUaII" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/S-ZIfNuT5H8" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/eWGwQ1__73E" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe></div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/VliJT26LPFA" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/f-2jDPgh_Ng" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/9N7uqbuODqs" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/jQn74jB5dg0" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/JqF2BJBQI9Y" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div class="parent"><iframe class="video" width="560" height="315"
                                src="https://www.youtube.com/embed/mqubRYtnPcs" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
        </div>













        <div class="pagination">
                <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                                <li class="page-item">
                                        <a class="page-link" href="/node" tabindex="-1">Previous</a>
                                </li>

                                <li class="page-item disabled">
                                        <a class="page-link " href="#">Next</a>
                                </li>
                        </ul>
                </nav>
        </div>
        <%- include('partials/footer'); -%>