<%- include('partials/header'); -%>

    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/react" tabindex="-1">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="/mongo">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="site-content">
        <h2>NODE.JS FREE COURSE</h2>
        <p>
            Node.js is similar in design to, and influenced by, systems like Ruby's Event Machine and Python's Twisted.
            Node.js takes the event model a bit further. It presents an event loop as a runtime construct instead of as
            a library. In other systems, there is always a blocking call to start the event-loop.<br> Typically,
            behavior is defined through callbacks at the beginning of a script, and at the end a server is started
            through a blocking call like EventMachine::run(). In Node.js, there is no such start-the-event-loop call.
            Node.js simply enters the event loop after executing the input script. Node.js exits the event loop when
            there are no more callbacks to perform.<br> This behavior is like browser JavaScript — the event loop is
            hidden from the user.
        </p>
    </div>



    <div class="videos">
        <div class="parent">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/TlB_eWDSMt4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>


        <div class="parent">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Oe421EPjeBE"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>














    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/react" tabindex="-1">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="/mongo">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <%- include('partials/footer'); -%>