<%- include('partials/header'); -%>

    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/javascript" tabindex="-1">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="/node">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="site-content">
        <h2>REACT FREE COURSE</h2>
        <p>
            React is a JavaScript library for building user interfaces. Learn what React is all about our react
            tutorial<br>

            React has been designed from the start for gradual adoption, and you can use as little or as much React as
            you need. Whether you want to get a taste of React, add some interactivity to a simple HTML page, or start a
            complex React-powered app, the videos in this section will help you get started.


        </p>
    </div>

    <div class="videos">
        <div class="parent">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/w7ejDZ8SWv8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>


        <div class="parent">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/4UZrsTqkcW4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>











    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/javascript" tabindex="-1">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="/node">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <%- include('partials/footer'); -%>